In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
LEC = pd.read_csv('projectData/LEC_RESULT.csv', index_col=0, encoding='CP949')
LEC['version'] = LEC['version'].str.replace('버전','')
LEC['version'] = LEC['version'].str.replace(' ','')
LEC['version'] = LEC['version'].str.replace('<!----><!---->','')
ind = LEC[LEC['version'] == '11.5'].index
LEC = LEC.drop(index=ind)
LEC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 685 entries, 0 to 684
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   game_date          685 non-null    object
 1   version            685 non-null    object
 2   team1_name         685 non-null    object
 3   team1_score        685 non-null    int64
 4   team2_score        685 non-null    int64
 5   team2_name         685 non-null    object
 6   gametime           685 non-null    object
 7   blue_team          685 non-null    object
 8   blue_score         685 non-null    int64
 9   blue_ban           685 non-null    object
 10  blue_object        685 non-null    object
 11  blue_object_count  685 non-null    int64
 12  blue_call_name     685 non-null    object
 13  blue_line          685 non-null    object
 14  blue_champion      685 non-null    object
 15  blue_kill          685 non-null    int64
 16  blue_death         685 non-null    object
 17  blue_assist        685 non-null    object
 18  red_team           685 non-null    object
 19  red_score          685 non-null    int64
 20  red_ban            685 non-null    object
 21  red_object         685 non-null    object
 22  red_object_count   685 non-null    int64
 23  red_call_name      685 non-null    object
 24  red_line           685 non-null    object
 25  red_champion       685 non-null    object
 26  red_kill           685 non-null    int64
 27  red_death          685 non-null    object
 28  red_assist         685 non-null    object
dtypes: int64(8), object(21)
memory usage: 176.7+ KB

In [3]:
LEC_object = LEC[['blue_object','blue_object_count','red_object','red_object_count']]
LEC_object

         blue_object  blue_object_count      red_object  red_object_count
0        turret@blue                  9      turret@red                 2
1     inhibitor@blue                  1   inhibitor@red                 0
2         baron@blue                  1       baron@red                 1
3        dragon@blue                  4      dragon@red                 2
4    riftHerald@blue                  0  riftHerald@red                 2
..               ...                ...             ...               ...
680      turret@blue                  3      turret@red                 8
681   inhibitor@blue                  0   inhibitor@red                 1
682       baron@blue                  0       baron@red                 1
683      dragon@blue                  3      dragon@red                 1
684  riftHerald@blue                  1  riftHerald@red                 1

[685 rows x 4 columns]

In [4]:
a = LEC_object[LEC_object['blue_object'] == 'turret@blue']
aa = LEC_object[LEC_object['blue_object'] == 'inhibitor@blue']

In [5]:
LEC_turret = a.drop(columns=['blue_object','red_object'])
LEC_inhibitor = aa.drop(columns=['blue_object','red_object'])

In [27]:
LEC_turret.sum()/(90+34)

blue_object_count    6.669355
red_object_count     6.975806
dtype: float64

LEC는 블루일때 827개   레드일때 865개로 레드가 타워를 더 많이 깍아냄

블루팀은 경기당 6.7개

레드팀은 경기당 7.0개의 포탑을 밀어냄

In [10]:
b = LEC_object[LEC_object['blue_object'] == 'riftHerald@blue']

In [11]:
LEC_riftHerald = b.drop(columns=['blue_object','red_object'])

In [12]:
LEC_riftHerald.sum()

blue_object_count    159
red_object_count     106
dtype: int64

여기도 전령을 블루팀이 1.5배 잘먹는걸 알 수 있음

블루팀이 경기당 1.2마리

레드팀이 경기당 0.8마리로

거의 모든 경기에서 전령을 두마리 다 챙겨먹었다고 알 수 있음

LEC도 전령에 대한 중요도를 엄청 중요하게 생각하는듯

실제로 게임중 한마리만 먹은 경기는 딱 9경기에 밖에없었음

In [16]:
c = LEC_object[LEC_object['blue_object'] == 'dragon@blue']
LEC_dragon= c.drop(columns=['blue_object','red_object'])

In [17]:
LEC_dragon.sum()

blue_object_count    262
red_object_count     344
dtype: int64

드래곤은 역시 LEC도 레드팀이 더 많이 가져가는 모습을 알 수 있음

블루팀은 경기당 2.1마리

레드팀은 경기당 2.7마리

In [29]:
d = LEC_object[LEC_object['blue_object'] == 'baron@blue']
LEC_baron= d.drop(columns=['blue_object','red_object'])

In [30]:
LEC_baron.sum()

blue_object_count     89
red_object_count     108
dtype: int64

LEC도 레드팀이 바론을 많이 먹네

LCK의 블루팀이 많이 먹는게 독특한 거일수도


경기당 1.6마리의 바론을 먹음

In [34]:
LEC_baron.value_counts()

blue_object_count  red_object_count
0                  1                   44
1                  0                   37
                   1                   17
0                  2                   16
2                  0                   11
0                  0                    3
1                  2                    3
2                  1                    3
0                  3                    1
1                  3                    1
3                  0                    1
dtype: int64

In [38]:
for i in LEC_baron['blue_object_count']:
    print(i)

1
1
2
0
2
0
0
1
1
0
1
0
0
1
1
1
0
2
1
0
0
1
0
0
0
1
0
1
0
1
0
1
0
1
1
0
0
1
1
0
1
1
1
3
1
1
1
0
0
0
0
0
1
1
0
1
2
0
0
0
0
1
0
0
0
1
2
1
0
1
1
1
1
0
0
1
0
1
0
0
0
1
2
0
1
1
0
1
1
1
0
1
1
1
0
0
0
1
0
0
0
0
0
1
1
1
2
1
0
0
0
0
1
2
2
2
1
0
0
2
0
1
2
1
0
2
1
0
1
1
0
0
0
0
2
1
0